.notam-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
  
    th, td {
        border: 1px solid black;
       padding: 8px;
       text-align: left;
    
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      position: relative;
      overflow: unset;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    .status-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
  
      &.red {
        background-color: red;
      }
  
      &.green {
        background-color: green;
      }
  
      &.yellow {
        background-color: yellow;
      }
    }

    

  }

  ::ng-deep .ngx-pagination{
    margin-top: 10px;
  }

.red {
    color: red;
  }

  .green {
    color: green;
  }

  .yellow {
    color: yellow;
  }

   ::ng-deep .ngx-pagination .current {
    padding: 2px 4px;
    background: black !important;
    color: #fefefe;
    cursor: default;
    border-radius: 22px;
}

::ng-deep a{
  text-decoration: none !important;
}



  .dflex{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

.navhold{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.innerhold{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.toggle-container {
  display: inline-block;
  position: relative;
}
.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  // width: 40px;
  // height: 20px;
  width: 28px;
  height: 14px;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.3s;
  z-index: -1;
  border: 2px solid black;
}
.toggle-switch::before {
  content: '';
  position: absolute;
  // width: 16px;
  // height: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0.2px;
  // left: 2px;
  background-color: black;
  transition: transform 0.3s;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .toggle-switch {
  background-color: #2196F3;
}
input[type="checkbox"]:checked + .toggle-switch::before {
  transform: translateX(16px);
}

  .flag{
    transform: rotate(270deg);
}

.border{
    border: 1px solid black !important;
    padding-right: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.nowrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  position: absolute;
  /* width: 6rem; */
  padding: 7px;
  z-index: 1;
  border-radius: 5px;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  display: flex;
  gap: 7px;
  padding: 11px;
  flex-direction: column;
  font-weight: 0 !important;
  overflow-y: auto;
  max-height: 17rem;
  overflow-x: hidden;
  span{
    width: auto;
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 100;
  }

}

.checkbox-show {
  display: block !important;
  height: 1rem;
}

.popup{
  position: absolute;
  width: 100%;
  
  top: 47px;
  left: 9px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;

  span{
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .closebtn{
    position: absolute;
    right: 18px;
    top: 16px;
    background-color: red;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
}

.notam-paginationContainer{
  display: flex;
  justify-content: flex-end;
}

.notam-table tbody tr:hover {
  background-color: #e8f4ff; /* Light blue color for row highlight */
}

/* Highlight the header cell on hover */
.notam-table thead th:hover {
  background-color: blue; /* Light purple color for header highlight */
  color: white;
  cursor: pointer; /* Show pointer on hover for interactivity */
  
  .dropdown{
    color: black;
  }
  
}

.highlight {
  background-color: #aed3f6; /* or any color you prefer */
  color: black;
}