<ng-container *ngIf="!isFullScreen">
<div class="map-container">

    <div class="map" id="map1" [class.selected]="'map1' === selectedMapId"></div>
    <div class="map" id="map2" [class.selected]="'map2' === selectedMapId"></div>
    <div class="map" id="map3" [class.selected]="'map3' === selectedMapId"></div>
    <div class="map" id="map4" [class.selected]="'map4' === selectedMapId"></div>

    
</div>
</ng-container>

<ng-container *ngIf="isFullScreen">
    <router-outlet></router-outlet>
</ng-container>
