.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: transparent; /* Completely transparent background */
    backdrop-filter: blur(1px); /* Optional: Adds blur to the content behind the header */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a light shadow for depth */
    // box-shadow: none;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 50px;
        width: 50px;
    }

    span {
        font-weight: bold;
        margin-left: 10px;
        width: 50px;
    }
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;

    .matclas {
        font-size: 24px;
        cursor: pointer;
    }
}
