<!-- <div class="image-container">
    <div><img src="/assets/images/background.jpg" alt="Image 1" /></div>
    <div><img src="/assets/images/background.jpg" alt="Image 2" /></div>
    <div><img src="/assets/images/background.jpg" alt="Image 3" /></div>
    <div><img src="/assets/images/background.jpg" alt="Image 4" /></div>
</div> -->
<div class="full-screen-image-grid">
    <img src="assets/images/1.jpg" alt="Image 1">
    <img src="assets/images/2.jpg" alt="Image 2">
    <img src="assets/images/3.jpg" alt="Image 3">
    <img src="assets/images/4.jpg" alt="Image 4">
  </div>
  