<div class="main-container">
    <!-- <app-header [name]="headerName" [icon]="headerIcon"></app-header> -->
    <app-header *ngIf="!isLoginPage()" [activeButton]="activeButton" (activeChange)="setActive($event)">
    </app-header>
    <app-sidebar *ngIf="!isLoginRoute()"></app-sidebar>
    <!-- <div class="subheader-container">
        <app-subheader></app-subheader> 
    </div> -->

    <div class="body-content">
        <router-outlet></router-outlet> <!-- Where your body content changes -->
    </div>
</div>