.side-container {
  // width: 16vw;
  min-width: 19vw;
  max-width: 20vw;
  height: 100vh;
  z-index: 2;
//  background: linear-gradient(267deg, rgb(134 183 202 / 58%) 1%, rgb(38 210 200 / 19%) 21%);
background: linear-gradient(267deg, rgb(58 82 91 / 71%) 1%, rgb(31 194 174 / 46%) 21%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 6rem 1rem 1rem 1rem;
  // position: absolute;
  transition: width 0.5s ease-in-out;
  overflow-y: auto;

  &.collapsed {
    width: 5vw;
    min-width: unset;
    max-width: unset;
  }

  .sub-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: 501;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.9s ease-in-out;

    span {
      text-align: center;
      width: 100%;
       transition: width 0.9s ease-in-out;
      
      
    }

    mat-icon{
      width: 50px;
    }
  }

  .sub-option:hover {
    background-color: #0056b3;
    color: white;
  }

  .active {
    background: linear-gradient(to right, #4acbd3, #0056b3);
    color: white;
  }

  .tab-toggel {
    display: flex;
  //   justify-content: flex-end;
    cursor: pointer;

    .tgbtn {
      background-color: #0056b3;
      color: white;
      width: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-radius: 3px;
    }
  }

  &.collapsed .sub-option span {
  //   opacity: 0;
  display: none;
  opacity: 0;
 
  }

  &.collapsed .tab-toggel mat-icon {
  //   transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }
}


//   for multiMap View

.select{
  display: flex;
  flex-direction: column;
  gap: 5px;

  label{
      font-size: 0.8rem;
      font-weight: 501;
      padding-left: 4px;
      color: #05182a;
  }

  select{
      height: 2.1rem;
      font-size: .9rem;
      border-radius: 6px;
      border: 1px solid white;
      padding: 0px 18px 0px 13px;
  
  }

  .multi-select-container {
    border-radius: 6px;
    border: 1px solid white;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto; 
    background-color: #f8f9fa; 
    height: 2.1rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: default;
  }
  .multi-select-container:focus{
    border: none;
    outline: none;
  }
}


.toggle-container {
  display: inline-block;
  position: relative;
}
.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.3s;
  z-index: -1;
}
.toggle-switch::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: black;
  transition: transform 0.3s;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .toggle-switch {
  background-color: #2196F3;
}
input[type="checkbox"]:checked + .toggle-switch::before {
  transform: translateX(20px);
}
.toggle-text {
  margin-left: 10px;
  font-size: 14px;
}

.toggle-outer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 22px;

  .tog{
      display: flex;
      gap: 11px;
    }

    label{
      font-weight: 501;
      color: #042447;
    }
}

.button-outer{
  display: flex;
  flex-direction: column;
  gap: 10px;

  button{
      width: 100%;
      height: 2rem;
      outline: 0;
      border: 0;
      border-radius: 6px;
      background-color: #0056b3;
      color: white;
  }
}

.arrow-hold{
  display: flex;
  align-items: center;
  gap: 5px;
}

.displayEnd{
 justify-content: flex-end;
}

.displayBetween{
  justify-content: space-between;
}

.outer-hold {
position: absolute; // Make the container absolute
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex; // Ensures full height for both side-container and tab
}

.tab {
flex-grow: 1; 
height: 100vh; 
// padding: 1rem; 
// background-color: #f5f5f5; 
// display: flex;
// align-items: center; 
// justify-content: center; 
z-index: 2;
position: relative;
pointer-events: none;
}


.table-container {
margin: 12px 12px 0px 12px;
// border: 1px solid #000;
padding: 10px;
border-radius: 5px;
position: absolute;
bottom: 0;
background-color: white;
width: -webkit-fill-available;
display: flex;
flex-direction: column;
overflow-y: auto;
max-height: 40rem;
pointer-events: auto;
}

h4 {
font-weight: bold;
margin-bottom: 10px;
}

table {
width: 100%;
border-collapse: collapse;
}

thead th,
tbody td {
border: 1px solid #000;
padding: 8px;
text-align: center;
}

thead th {
background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

.title-hold{
display: flex;
align-items: center;
justify-content: space-between;

mat-icon{
  cursor: pointer;
}
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 10px; /* Space between the two divs */
  max-width: 100%; /* Adjust as per your layout */
}

.grid-item {
  padding: 20px; /* Some padding for spacing inside the div */
  border: 1px solid #ddd; /* Border for visual separation */
  overflow-x: auto;
}


.multihold{
  position: relative;
  .multisection{
    position: absolute;
    // z-index: 100;
    background-color: white;
    width: 100%;
    max-height: 233px;
    // display: flex;
    // flex-direction: column;
    // gap: 5px;
    // padding: 12px;
    border-radius: 4px;
    top: 36px;
    overflow-y: auto;
    display: grid;
  grid-template-columns: 1fr 1fr;
    span{
      display: flex;
      align-items: center;
      // gap: 6px;
      cursor: pointer;
      padding: 4px;
    }

    span:hover{
      background-color: #0056b3;
      color: white;
      border-radius: 3px;
    }

    .multipart{
    display: flex;
    flex-direction: column;
    // gap: 5px;
    padding: 2px;
    }
  }
}

.txt-red{
  color: red;
    font-weight: 501;
}
.txt-green{
  color: green;
    font-weight: 501;
}

.bg-red{
  background-color: red;
  color: white;
}


.checkkarea{
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-height: 14rem;
  overflow-y: auto;
  top: 36px;
  // padding: 12px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .checkoption{
    display: flex;
    gap: 7px;
    padding: 5px 2px 5px 7px;
    align-items: center;
  }

  .checkoption:hover{
    background-color: #0056b3;
    color: white;
    cursor: pointer;
  }
}

.checkbox-show {
  display: block !important;
  height: 1rem;
  width: .9rem;
}


.tab-style{
  background-color: white;
  padding: 7rem 1rem 1rem 1rem;
  overflow-y: auto;
}

.min-tab{
  position: absolute;
  bottom: 0;
  
  height: 4rem;
  width: -webkit-fill-available;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4rem;
}

.flag{
  transform: rotate(270deg);
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.border{
  border: 1px solid blue !important;
  /* padding-right: 7px; */
  border-radius: 3px;
  /* padding: 0px; */
  padding: 5px 15px 5px 15px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

  .filter-container {
    // width: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  
  /* Title section with icon and label */
  .filter-container h3 {
    // display: flex;
    // align-items: center;
    // margin-bottom: 15px;
    // background: rgb(193, 193, 193);
    // width: 78%;
    // justify-content: center;
    // font-weight: bold;
    // gap: 10px;
  }
  
  .filter-container h3 img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .filter-group {
    margin-bottom: 15px;
  }
  
  .filter-group label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Style for the dropdown */
  select {
    width: 100%;
    padding: 5px;
    background-color: #fcf9f9;
    border: none;
    border-radius: 5px;
    appearance: none;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  select[disabled] {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  /* Style for the dropdown options */
  select option {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  
  /* Styling for the checkbox inside the dropdown */
  select option input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Icon for dropdown arrow */
  select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Hover and focus states */
  select:hover, select:focus {
    background-color: #d4d4d4;
  }
  
  .not-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  
  .filter-container {
    padding: 15px;
  }
  
  .dropdown {
    // margin-bottom: 15px;
  }
  
  .dropdown-content {
    padding: 20px;
    background-color: #eaedf0;
    // border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      width: 100%;
      gap: 10px;
  
  }
  
  
  .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    gap: 20px;
  }
  
  .dropdown-item mat-icon {
    margin-right: 10px;
  }
  
  .checkbox-show {
    display: block !important;
    height: 1rem;
  }
  
  .drop-icon{
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .input-Div{
    position: relative;
  }
  
  .inputTag {
    border-radius: 6px;
    border: 1px solid white;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto; 
    background-color: #eaedf0; 
    height: 2.1rem;
    width: 100%;
  }
  
  .options-Styl{
    display: flex;
    justify-content: start;
    gap: 10px;
  }
  
  .checkBoxSize{
    right: 10px;
    position: absolute;
    top: 0px;
    width: 17px;
    height: 17px;
  }
  
  .titleLable{
    display: inline-block;
      font-weight: bold;
  }
  
  .submitDiv{
    margin-top: 30px;
    display: flex;
      justify-content: center;
  }
  
  .submitButton{
    width: 50%;
      border-radius: 5px;
      background-color: navy;
      color: white;
      height: 30px;
  }

  .headtitle{
    display: flex;
    align-items: center;
    background-color: #8080806e;
    padding: 7px 11px;
    gap: 10px;
    border-radius: 4px;

    span{
      font-size: 1rem;
    font-weight: bold;
    margin-top: 3px;
    }
  }

  .selectedmultiOption{
    background-color: #0056b3;
    color: white;
    border-radius: 3px;
  }

 ///////////////////////////////////////////////////////////////////////////////////////////////////
    /// 
    .rwy-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px; /* Adjust based on your needs */
      height: 70px; /* Adjust based on your needs */
      border: 3px solid black;
      border-radius: 20px;
      background-color: rgba(236, 239, 241, 0.5); /* Light grey with 50% transparency */
      font-family: Arial, sans-serif;
      margin-left: 800px;
      margin-top: 400px;
      z-index: 2;
  }
  
    
    .rwy-title {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    
    .rwy-value {
      font-size: 14px;
      color: black;
    }
     