<div class="outer-hold">
    <div class="side-container" [ngClass]="{'collapsed': isCollapsed}">
        <div class="tab-toggel" [ngClass]="{'displayEnd': !isMultiMapView || isCollapsed, 'displayBetween': isMultiMapView && !isCollapsed}">
            <div class="arrow-hold" *ngIf="!isCollapsed && isMultiMapView || (weatherSelectedTab==='PANS-OPS' || weatherSelectedTab==='ENR' || weatherSelectedTab==='AIRPORT')">
                <mat-icon (click)="navigateToMultiMap()">west</mat-icon>
                <mat-icon>east</mat-icon>
            </div>
            <mat-icon (click)="toggleSidebar()" class="tgbtn" *ngIf="!isCollapsed">chevron_left</mat-icon>
            <mat-icon (click)="toggleSidebar()" class="tgbtn"*ngIf="isCollapsed">chevron_right</mat-icon>
        </div>
    
        <ng-container *ngIf="!isMultiMapView && !isNotamTable && !isminNotam && activeTab==='ADM'">
        <div class="sub-option" [ngClass]="{'active': selectedTab==='PANS-OPS'}"  (click)="navigateToFullMap()">
            <mat-icon class="maticon">dataset</mat-icon>
            <span>PANS-OPS</span>
        </div>
        <div class="sub-option" [ngClass]="{'active': selectedTab==='ENR'}"  (click)="selectedTab='ENR'">
            <mat-icon class="maticon">dataset</mat-icon>
            <span>ENR COMPATIBILITY</span>
        </div>
        <div class="sub-option" [ngClass]="{'active': selectedTab==='AIRPORT'}"  (click)="selectedTab='AIRPORT'">
            <mat-icon class="maticon">dataset</mat-icon>
            <span>AIRPORT COMPATIBILITY</span>
        </div>
    </ng-container>
    

    <ng-container *ngIf="activeTab==='WxM' && weatherSelectedTab===' '">
      <div class="sub-option" [ngClass]="{'active': selectedTab==='PANS-OPS'}"  (click)="navigateToWeatherModule('PANS-OPS')">
          <mat-icon class="maticon">dataset</mat-icon>
          <span>PANS-OPS</span>
      </div>
      <div class="sub-option" [ngClass]="{'active': selectedTab==='ENR'}"  (click)="selectedTab='ENR'" (click)="navigateToWeatherModule('ENR')">
          <mat-icon class="maticon">dataset</mat-icon>
          <span>Enroute</span>
      </div>
      <div class="sub-option" [ngClass]="{'active': selectedTab==='AIRPORT'}"  (click)="selectedTab='AIRPORT'" (click)="navigateToWeatherModule('AIRPORT')">
          <mat-icon class="maticon">flight_takeoff</mat-icon>
          <span>Terminal</span>
      </div>
  </ng-container>


    <ng-container *ngIf="isMultiMapView && !isCollapsed && !isNotamTable && !isminNotam&& activeTab==='ADM'">

        <app-adm-sidebar (AIXM)="onToggleChange($event)"></app-adm-sidebar>
    
    </ng-container>

    <!-- For Notam Table  -->
    <ng-container *ngIf="!isMultiMapView && !isCollapsed && (isNotamTable || isminNotam)">
      <app-notam-sidebar></app-notam-sidebar>
      
    </ng-container>

      <!-- For Notam Table  -->
      <ng-container *ngIf="weatherSelectedTab==='PANS-OPS' && !isCollapsed">
        <app-weather-sidebar></app-weather-sidebar>
        
      </ng-container>
      <ng-container *ngIf="weatherSelectedTab==='ENR' && !isCollapsed">
       <app-enrote-sidebar (wxm)="isEnrouteTable=true"></app-enrote-sidebar>
        
      </ng-container>
      <ng-container *ngIf="weatherSelectedTab==='AIRPORT' && !isCollapsed">
       <app-terminal (wxm)="isairportTable=true"></app-terminal>
        
      </ng-container>

    </div>
    
    <!-- body content -->


    <div class="tab" *ngIf="isAIXM && !isCompare">
    
        <div class="table-container">
    
            <ng-container *ngFor="let item of cropData; let j=index">
    
                <div class="title-hold">
            <h4>{{ item.title }}</h4>
            <mat-icon (click)="toggleExpand()" *ngIf="j===0">open_in_full</mat-icon>
        </div>
            <table>
              <thead>
                <tr>
                  <th *ngFor="let column of item.columns">{{ column }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of item.rows">
                  <td>{{ row.waypointIdentifier }}</td>
                  <td>{{ row.pathDescriptor }}</td>
                  <td>{{ row.flyOver }}</td>
                  <td>{{ row.courseAngle }}</td>
                  <td>{{ row.turnDirection }}</td>
                  <td>{{ row.upperLimitAltitude }}</td>
                  <td>{{ row.lowerLimitAltitude }}</td>
                  <td>{{ row.speedLimit }}</td>
                  <td>{{ row.tmDst }}</td>
                  <td>{{ row.va }}</td>
                  <td>{{ row.navigationSpecification }}</td>
                </tr>
              </tbody>
            </table>
            </ng-container>
          </div>
          
              
    </div>
    
    <div class="tab" *ngIf="isAIXM && isCompare">
    
      <div class="table-container">
        <div class="grid-container">
          <div class="grid-item">
            <ng-container >
    
              <div class="title-hold">
          <h4>{{ compareObj.title }}</h4>
          <!-- <mat-icon (click)="toggleExpand()" *ngIf="j===0">open_in_full</mat-icon> -->
      </div>
          <table>
            <thead>
              <tr>
                <th *ngFor="let column of compareObj.columns" style="white-space: nowrap;">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of compareObj.rows">
                <td [ngClass]="{'bg-red': row.waypointIdentifier.flag}">{{ row.waypointIdentifier.value }}</td>
                <td [ngClass]="{'bg-red': row.pathDescriptor.flag}">{{ row.pathDescriptor.value }}</td>
                <td [ngClass]="{'bg-red': row.flyOver.flag}">{{ row.flyOver.value }}</td>
                <td [ngClass]="{'bg-red': row.courseAngle.flag}">{{ row.courseAngle.value }}</td>
                <td [ngClass]="{'bg-red': row.turnDirection.flag}">{{ row.turnDirection.value }}</td>
                <td [ngClass]="{'bg-red': row.upperLimitAltitude.flag}">{{ row.upperLimitAltitude.value }}</td>
                <td [ngClass]="{'bg-red': row.lowerLimitAltitude.flag}">{{ row.lowerLimitAltitude.value }}</td>
                <td [ngClass]="{'bg-red': row.speedLimit.flag}">{{ row.speedLimit.value }}</td>
                <td [ngClass]="{'bg-red': row.tmDst.flag}">{{ row.tmDst.value }}</td>
                <td [ngClass]="{'bg-red': row.va.flag}">{{ row.va.value }}</td>
                <td [ngClass]="{'bg-red': row.navigationSpecification.flag}">{{ row.navigationSpecification.value }}</td>
              </tr>
            </tbody>
          </table>
          </ng-container>
          </div>
          <div class="grid-item">
            <ng-container >
    
              <div class="title-hold">
          <h4>{{ obj2.title }}</h4>
          <!-- <mat-icon (click)="toggleExpand()" *ngIf="j===0">open_in_full</mat-icon> -->
      </div>
          <table>
            <thead>
              <tr>
                <th *ngFor="let column of obj2.columns" style="white-space: nowrap;">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of obj2.rows">
                <td>{{ row.waypointIdentifier }}</td>
                <td>{{ row.pathDescriptor }}</td>
                <td>{{ row.flyOver }}</td>
                <td>{{ row.courseAngle }}</td>
                <td>{{ row.turnDirection }}</td>
                <td>{{ row.upperLimitAltitude }}</td>
                <td>{{ row.lowerLimitAltitude }}</td>
                <td>{{ row.speedLimit }}</td>
                <td>{{ row.tmDst }}</td>
                <td>{{ row.va }}</td>
                <td>{{ row.navigationSpecification }}</td>
              </tr>
            </tbody>
          </table>
          </ng-container>
          </div>
        </div>
        

      </div>    
  </div>


  <!-- Noatm Table -->

  <div class="tab tab-style" style="pointer-events: auto;" *ngIf="isNotamTable">
     <app-notam-table (isMinimize)="minimize($event,'notam')"></app-notam-table>
  </div>

  <div class="tab" *ngIf="isminNotam || isminEnroute || isminairport">
    <div class="min-tab">

      <div class="dflex" style="gap: 5px; font-weight: 501;">
        <div class="dflex border" (click)="filterByFlag('normal')">
            <mat-icon class="flag green">play_arrow</mat-icon> Normal
        </div>
        <div class="dflex border" (click)="filterByFlag('warning')">
            <mat-icon class="flag yellow">play_arrow</mat-icon> Warning
        </div>
        <div class="dflex border" (click)="filterByFlag('critical')">
            <mat-icon class="flag red">play_arrow</mat-icon> Critical
        </div>
    </div>

    <div class="dflex border" (click)="minimize($event, isminEnroute ? 'wxm' : isminNotam ? 'notam' : 'ats')">
      Close Map
  </div>
    </div>
  </div>

  <div class="tab tab-style" style="pointer-events: auto;" [hidden]="!isEnrouteTable">
    <app-weather-table (isMinimize)="minimize($event,'wxm')" ></app-weather-table>
 </div>
  <div class="tab tab-style" style="pointer-events: auto;" [hidden]="!isairportTable">
     <app-ats-table (isMinimize)="minimize($event,'ats')"></app-ats-table>
 </div>
</div>
<app-loader [show]="isshowloader"></app-loader>