
<div class="navhold">
    <div class="innerhold">
            <div class="dflex" style="gap: 9px; font-weight: 501;">
                <span>Map View</span>
                <div class="toggle-container" (change)="close()">
                    <label class="toggle-label">
                      <input type="checkbox" >
                      <span class="toggle-switch"></span>
                    </label>
                  </div>
            </div>

            <div class="dflex" style="font-weight: 501; cursor: pointer;" (click)="latest()">
                <span>Latest</span>
                <mat-icon style="height: 31px;font-size: 2rem;">swap_vert</mat-icon>
            </div>

            <div class="dflex" style="gap: 5px; font-weight: 501;">
                <div class="dflex border" (click)="filterByFlag('green')">
                    <mat-icon class="flag green">play_arrow</mat-icon> Normal
                </div>
                <div class="dflex border" (click)="filterByFlag('yellow')">
                    <mat-icon class="flag yellow">play_arrow</mat-icon> Warning
                </div>
                <div class="dflex border" (click)="filterByFlag('red')">
                    <mat-icon class="flag red">play_arrow</mat-icon> Critical
                </div>
            </div>

            <div class="dflex" style="gap: 5px;">
                <input type="text" style="text-align: center; font-weight: 501;" placeholder="Search NOTAMs" name="" id="">
                <mat-icon>search</mat-icon>
            </div>
    </div>
 </div>
 <div style="position: relative;">
<table class="notam-table">
  <thead>
    <tr>
      <th *ngFor="let header of headers; let i = index" class="nowrap">
        <div class="dflex nowrap" (click)="toggleDropdown(i)">
          <span>{{ header.label }}</span>
          <mat-icon style="color: blue;" *ngIf="i>=2">keyboard_arrow_down</mat-icon>
        </div>  
        
        <!-- Show dropdown only for columns that have options (i >= 2) -->
        <div class="dropdown" *ngIf="header.isOpen && header.opt.length > 0">
          <span *ngFor="let option of header.opt; let optIndex = index">
            <input 
              class="checkbox-show"
              type="checkbox" 
              [id]="'checkbox-' + i + '-' + option" 
              [checked]="header.selectedOptions.includes(option)" 
              (change)="onCheckboxChange(i, option, $event)">
            <label [for]="'checkbox-' + i + '-' + option">{{ option }}</label>
          </span>
        </div>  
      </th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let entry of (filteredNotamData | paginate: { itemsPerPage: 2, currentPage: p, totalItems: total }); let index = index">
        <td>{{ index+1}}</td>
        <td>
          <div class="dflex" (click)="showPopup(entry.notam_id,entry.flag)">
          <mat-icon class="flag" [ngClass]="{'red': entry.flag === 'red','green': entry.flag === 'green','yellow': entry.flag === 'yellow'}">play_arrow</mat-icon> <span>{{ entry.notam_id }}</span>  <mat-icon>keyboard_arrow_down</mat-icon> 
        </div>
        </td>
        <td>{{ entry.status }}</td>
        <td>{{ entry.airport }}</td>
        <td>{{ entry.fir }}</td>
        <td>{{ entry.airSpace }}</td>
        <td>{{ entry.qualifier1 }}</td>
        <td>{{ entry.qualifier2 }}</td>
        <td>{{ entry.traffic }}</td>
        <td>{{ entry.purpose }}</td>
        <td>{{ entry.scope }}</td>
        <td>{{ entry.series }}</td>
        <td>{{ entry.type }}</td>
        <td>{{ entry.permanent }}</td>
      </tr>
    </tbody>
    
  </table>
  <div>
    
  </div>
  <div class="notam-paginationContainer">
    <pagination-controls  (pageChange)="onPageChnage($event)"></pagination-controls>

  </div>
  <div class="popup" *ngIf="isShowPopup">
      <div style="display: flex; align-items: center;">
        <mat-icon class="flag" style="font-size: 68px;width: 4rem;height: 4rem;" [ngClass]="{'red': flag === 'red','green': flag === 'green','yellow': flag === 'yellow'}">play_arrow</mat-icon><span style="font-size: 1.5rem;font-weight: 501;">{{notemanNumber}}</span></div>
      <span>
        Q) VECF/QPICH/I/BO/A/000/999/2239N08826E005 A) VECC B) 2408020034 C) 2409042359E) [US DODPROCEDURAL NOTAM] INSTRUMENT APPROACH PROCEDURE CHANGEDCAT CD CIRCLING MINIMA CHANGED TO880-4000M 860 (900-4000M) FOR THE FOLLOWING PROCEDURES: ILS RWY 19R; ILS RWY 01R; ILS Z (CAT I)RWY 19L; VOR RWY 01L; VOR RWY 19R;VOR RWY 19LCREATED: 02 Aug 2024 00:34:00SOURCE: PPAA
      </span>

      <mat-icon class="closebtn" (click)="isShowPopup=false">close</mat-icon>
  </div>
</div>
