<div class="menu-container">
    <div class="hamburger" (click)="togglePopup()">
      <mat-icon class="listIcon">list</mat-icon>
    </div>
    <div class="popup-menu" [ngClass]="{'active': showPopup}">
      <ul>
        <li *ngFor="let item of menuItems" (click)="handleOptionClick(item)">
          <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
          <span>{{item.label}}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- Add this line in sidbar.component.html 
   <app-weather-popup *ngIf="activeTab==='WxM'"></app-weather-popup> -->